body{
    background: #fff8f3;
}


@media (max-width: 1280px){
    .hero-section{
        .img-contentsection{
            display: flex;
            margin-left: 0% !important; 
            .text-content{
                .subtext-content{
                    width: 100%;
                    margin: 5% auto;
                    h1{
                        font-size: 40px ;
                    }
                }    
            }    
        } 
        .hero-image{
            flex-basis: 100%;
            display: flex;
            width: 100%;
            justify-content: center;
        }
    }
    .description{
        padding: auto;
    }
    .chatbtn{
        margin-bottom: 5%;
        padding: 5px 10px;
        width: 150px;
    }

}
@media(max-width:978px){
    .img-contentsection{
        display: flex;
        flex-direction: column;
    }
    .text-content{
        text-align: center;
    }
    .subtext-content{
        display: flex;
        flex-direction: column;
    }
    .hero-image{
        padding-left: 20%;
    }
    .description{
        padding-right: 0% !important;
        .sub-description{
            padding: 0 20%; 
           }
    }
    .chatbtn{
        margin: 0 auto;
    }
}
@media(max-width: 768px){
    .subtext-content{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    h1{
        font-size: 30px !important;
    }
    .description{
        font-size: 10px !important;
    }
    .chatbtn{
    }
    
}
@media(max-width: 528px){
    h1{
        font-size:20px !important;
    }
}



.hero-section {
    display: flex;
    .img-contentsection{
        margin-left: 20%;
        display: flex ;
        .text-content {
            display: flex;
            align-items: center;
            h1{
                font-size: 50px;
            }
        }
    }
}

.hero-image{
    margin-top: 50PX;
    img{
        max-width: 80%;
    }
}


.welcome-text {
    color: #888;
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 10px;
}


.description {
    display: flex;
    margin: 20px 0;
    color: #555;
    font-size: 16px;
    padding-right: 40%;
}
.highlight{
    color: orange;
}

.chatbtn {
        background: none;
        position: relative;
        border:1px solid orange;
        color:orange;
        padding: 10px 20px;
        font-size: 15px;
        border-radius: 5px;
        cursor: pointer;
        transition: 0.8s;
        overflow: hidden;
        &::before{
            content: "";
            position:absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 0%;
            background-color: orange;
            z-index: -1;
            transition:all 0.8s ease;
        }
        &:hover{
            color: white;
        }
        &:hover::before{
            height: 180%;
            border-radius: 0 0 100% 100%;

        }
    
}

  

