/* Services Section Styles */
.services-section {
  padding: 80px 20px;
  text-align: center;
  font-family: Arial, sans-serif;
  margin-left: 20%;
}

.services-heading {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.service-card {
  width: 90%;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 80px 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.service-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.service-icon {
  font-size: 2rem;
  margin-bottom: 25px;
  color: #ff7700;
}

.service-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.service-description {
  font-size: 0.9rem;
  color: #555;
}

/* Responsive Design */
@media(max-width:1280px){
  .services-section{
    margin-left: 0 !important;
  }
}
@media (max-width: 768px) {
  .services-grid {
    grid-template-columns: 1fr;
  }
}
